body{
    font-family:fantasy;
}
.bg{
 top: 9%;
 left: 7%;
 height: 500px;
 width: 85%;
 position: absolute;
 background-color: rgba(255, 255, 255, 0.452);
 padding: 5%;
 border-radius: 6px;
}
input[type=text], select, textarea {
    background-color: rgba(255, 255, 255, 0.452);
    width: 22%;
    border-radius: 1px;
    padding: 7px;
    border: none;
    resize: vertical;
    margin-left:75%;

}
#temp{
    font-size: 600%;
    position: absolute;
    left: 9%;
    top: 64%;
}
#city{
    font-size: 300%;
    position: absolute;
    left: 22%;
    top: 70%;   
}
#wicon{
    width: 160px;
    position: absolute;
    left: 25%;
    top: 50%;
}
#fl{
    font-weight: bolder;
    font-size: 100%;
    position: absolute;
    left: 9%;
    top: 28%;
}
#hum{
    font-weight: bold;
    font-size: 100%;
    position: absolute;
    left: 9%;
    top: 36%;   
}
#ws{    
    font-weight: bold;
    font-size: 100%;
    position: absolute;
    left: 9%;
    top: 44%;   
}
#lat{
    font-weight: bold;
    font-size: 100%;
    position: absolute;
    left: 35%;
    top: 32%;   
}
#lon{
    font-weight: bold;
    font-size: 100%;
    position: absolute;
    left: 35%;
    top: 40%;   
}